* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Asap, sans-serif;
}

body {
    background-color: #0077be;
}



header {
    background-color: white;
    opacity: 1;
    text-align: center;
    position: relative;
    z-index: 2;
}

#ExtraText {
    color: black;
    font-size: 2.2vw;
    position: absolute;
    z-index: 10;
    display: inline-block;
    top: 50%;
    transform: translate(-20%, -50%);
}

#logo {
    width: 20%;
    position: relative;
    right: 30%;
    display: inline-block;
}

#mainForm {
    position: absolute;
    background-color: #eceff8;
    /*a3cf67
    */
    opacity: .7;
    top: 20%;
    left: 0%;
    height: 70%;
    width: 100%;
    text-align: center;
    border-radius: 0%;
}

#form {
    font-size: 2.0vmin;
    position: absolute;
    text-align: center;
    padding-top: 5%;
    color: black;
    left: 10%;
    top: 10%;
}

#Jobs,#Salary {
    background-color: #68a2df;
    border-color: #68a2df;
    color: black;
}

.hidden {
    visibility: hidden;
}

.shown {
    visibility: visible;
}

#submit {
    padding: 10px;
    font-size: 2.0vmin;
    background-color: #68a2df;
    border-color: #68a2df;
    border-radius: 10%;
    color: black;
}

#title {
    color: black;
    position: absolute;
    font-size: 3.0vmin;
    left: 60%;
    text-align: center;
    top: 30%;
    
    width: 30%;
}

#answer {
    color: black;
    position: absolute;
    font-size: 1.5vw;
    left: 60%;
    top: 40%;
    
    border: solid black;
    
    width: 30%;
}

.chartTab1 {
    display: inline-block;
    position: absolute;
    left: 0%
}

.chartTab2 {
    display: inline-block;
    position: absolute;
    left: 40%
}

.chartTab3 {
    display: inline-block;
    position: absolute;
    right: 0%
}