
// Theme Colors
$primary: #0072ce;
$secondary: #c6e8ff;
$tertiary: #7a6d4d;
$success: #48a548;
$info: #3b78ba;
$warning: #fff4c2; //fff4c2 //edba49
$danger: #ff0000;
$light: #e9e9e9;
$dark: #595959;
$white: #fff;
$black: #000;